@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500i&display=swap');
.navbar{
    width: 100%;
    background-color: rgb(241, 132, 95);
    height:6vh;
    display:flex;
    justify-content: flex-start;
}
.title{
    font-size: 50px;
    font-family: 'Lato',
    sans-serif;
    margin-top: 14px;
}

.buttons{
    display: flex;
    width: 100%;
    align-items: center;
}