@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500i&display=swap');
.navbar{
    width: 100%;
    background-color: rgb(241, 132, 95);
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size: 50px;
    font-family: 'Lato',
    sans-serif;
    margin-top: 15px;
}

.buttons{
    display: flex;
    align-items: center;
}
.tabContainerBox {
	border-radius: 0%;
	top: 0;
}