@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:500i&display=swap');
html{
  height:100%
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
  height:100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto',
  sans-serif;
}

/* code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
   /* font-family: 'Roboto',
   sans-serif; */
/* } */

.slogan{
  font-family: 'Roboto', sans-serif;
}

.content{
  align-items: center
}

/* home screen */
.home-map{
  width:100%;
  height:100%;
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
}

.slogan{
  color: white;
   /* font-family: 'Roboto',
   sans-serif; */
}

.map{
  width:65%;
  height:400px;
  margin-top: 44px;
  border:1px solid black;
}

.selected-restrooms {
  width:30%;
  margin-right: 40px;
  text-align:center;
}
.restroom-faves{
 
  border:1px solid black;
  
  overflow-y:scroll;
  height: 400px;
  background-color: rgba(236, 214, 214, 0.5);
  text-align: center;
}

.favorites-title {
  color: white;
}

/* Filter list styling */
.filter{
  letter-spacing: 2px;
  color: whitesmoke;
}

.result-container {
   display: flex;
   flex-direction: column;
   text-align: center;
}
#root>div>div.home>div.result-container>div.restroomlist>div>div {
  display: flex;
  justify-content: space-evenly;
}

.filter-list{
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  color:white;
  font-family: 'Roboto',
  sans-serif;
}

.point{
  font-family: 'Roboto',
  sans-serif;
  color: lightcoral;
  margin: 2px;
}

.sort{
  flex-wrap: wrap;
  display: inline-block;
  margin-right:5px;
}

/* Profile */

.my-faves{
  overflow-y: scroll;
  border: 10 px solid aquamarine;
  height: 224px;
  background-color: rgba(236, 214, 214, 0.50);
  margin:0 240px ;
  border-radius: 10px;
}

.profile-header {
  margin-top:50px;
  font-family: 'Roboto',
  sans-serif;
  color: white;
}

.review-title{
  color: mediumaquamarine;
  font-family: 'Roboto',
  sans-serif;
}

.go-to-item {
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.favorite-item {
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.favoritetitle{
  color: lightcoral;
}

.favorites{
  color:black;
}
.ui.form{
  padding: 25px 0px;
  width: 492px;
  height:259px;
  background-color: cadetblue;
}

.profile-header{
  text-align:center;
}

.reviews-container{
  display:flex;
  justify-content: space-evenly;
  margin-top:50px;
}

.myreviews{
  width:40%;
  
}

.reviewlist{
  overflow-y:scroll;
  height: 259px;
  background-color: rgba(236, 214, 214, 0.3);
  border-radius:10px;
  color: black;

}

.review-item {
  border-bottom: 1px solid black;
}

.review-text{
  padding-bottom: 10px;
}

.reviewbutton{
  margin-bottom: 10px;
}

/* about */
.about{
  background-color: rgba(236, 214, 214, 0.6);
  justify-content:space-around;
  flex-direction:row;
  margin:20px;
  border-radius:10px;
  padding:25px;
}
